.nice{
    color: rgb(231, 231, 241);
    /* background-color: gray; */
    display: block;
    font-size: 30px;
}
input.placeholder{
    text-align: center;
}
#para{
    background-color: gray;
    text-align: center;
    padding: 40px;
}
#add{
    background-color: green;
    font-size: 20px;
    /* text-align: center;
    justify-content: center; */
}
#last{
    background-color: yellowgreen;
    font-size: 20px;
    /* text-align: center; */
}
#first{
    background-color: aqua;
    font-size: 20px;
    /* text-align: center;
    display: flex; */
}
#clearme{
    background-color: red;
    font-size: 20px;
    /* text-align: center;
    display: flex; */
}
#action{
    display: flex;
    justify-content: space-between;
    padding: 5px 30%;
    font-size: 20px;
    
}
#Text{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
   
}
